{% extends 'base.html.twig' %}

{% block title %}Mon panier - ReLife{% endblock %}

{% block content %}

    <div class="pt-5">
    <h1>Mon Panier</h1>
    <p>Retrouver l'ensemble des produits que vous avez ajoutez au panier.</p>
        {% if cart|length > 0 %}
        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for product in cart %}
            <tr>
                <th scope="row">
                    <img src="{{ asset('/uploads/' ~ product.product.illustration) }}" alt="{{ product.product.name}}" height="75px">
                </th>
                <td>{{ product.product.name }}<br>
                <small>{{ product.product.subtitle }}</small></td>
                <td>
                    <a href="{{ path('decrease_to_cart', { 'id': product.product.id }) }}"><img src="{{ asset('assets/img/minus.png') }}" height="15px" alt="Enlever un produit"></a>
                    x {{ product.quantity }}
                    <a href="{{ path('add_to_cart', { 'id': product.product.id }) }}"><img src="{{ asset('assets/img/plus.png') }}" height="15px" alt="Ajouter un produit"></a>
                </td>
                <td>{{(product.product.price /100)| number_format(2, ',', '.')}} &euro;</td>
                <td>{{((product.product.price * product.quantity) /100)| number_format(2, ',', '.')}} &euro;</td>
                <td><a href="{{ path('delete_to_cart', { 'id' : product.product.id}) }}"><img src="{{ asset('assets/img/delete.png') }}" height="18px" alt="Supprimer mon produit"></a></td>
            </tr>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right mb-5 d-grid gap-2">
            <b>Nombre de produit: {{ cart|length }}</b><br>
            <b>Prix total de mon panier: {{(total /100)| number_format(2, ',', '.')}} &euro;</b><br>
            <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
        </div>
        {% else %}
            <p>Votre panier est vide.</p>
        {% endif %}
    </div>


{% endblock %}
