{% extends 'base.html.twig' %}

{% block title %}Nos produits - ReLife{% endblock %}

{% block content %}


    <div class="row pt-5">
    <div class="col-md-3"> <h1>Filter</h1> {{ form(form) }}</div>
    <div class="col-md-9">
    <h1 class="h1-responsive" data-wow-delay="0.3s">Liste des produits</h1>
        <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card-body text-center">
                    <a href="{{ path('product', { 'slug' : product.slug }) }}"><img class="card-img-top" src="/uploads/{{ product.illustration }}" alt="{{ product.subtitle }}" style="width: 200px; height: 250px;"></a>
                    <h2 style="text-transform: uppercase; font-size: 15px;">{{ product.name }}</h2>
                    <p class="card-text">{{ product.subtitle }}</p>
                    <p class="card-text"><small class="text-muted">{{ (product.price / 100) | number_format(2, ',', '.') }} €</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}